<%#проверка пользователя%>
<% if signed_in? %>
  <% if current_user.finance.count != 0 %>
    <table class="fin">
      <thead>
        <tr>
          <th>Количество</th>
          <th>Описание</th>
          <th>Когда</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% current_user.finance.each do |finance| %>
        <tr>
          <td class="money<%=  ' minus' if finance.m < 0 %>"><%= finance.m %></td>
          <td><%= finance.desc %></td>
          <td><%= finance.updated_at %></td>
          <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
          <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
    <h2 class="money <%= ' minus' if @money < 0 %>"><%= @money %></h2>

  <% end %>
  <br />

  <%= link_to 'Новое изменение', new_finance_path %>
<% else %>
  <%#если пользователя нет%>
  <div class="no_user">
    <h2><%= link_to "Залогинетесь пожалуйста", signin_path %></h2>
  </div>
<% end %>
