<%#проверка пользователя%>
<% if signed_in? %>
  <% 1.upto(countTable) do |current| %>
  <% if currentTable(current).count != 0 %>
    <table class="fin">
      <thead>
        <tr>
          <th>Количество</th>
          <th>Описание</th>
          <th>Когда</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% currentTable(current).each do |finance| %>
        <tr>
          <td class="money<%=  ' minus' if finance.m < 0 %>"><%= finance.m %></td>
          <td><%= finance.desc %></td>
          <td><%= finance.updated_at %></td>
          <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
          <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
    <h2 class="money <%= ' minus' if sumTable(current) < 0 %>"><%= sumTable(current) %></h2>

  <% end %>
  <br />

  <%= link_to "Новое изменение, кошелёк №#{current}", new_finance_path(table: current) %>
  <% end %>
<% else %>
  <%#если пользователя нет%>
  <div class="no_user">
    <h2><%= link_to "Залогинетесь пожалуйста", signin_path %></h2>
  </div>
<% end %>
