<% if signed_in? %>
  <%= @wallets %>
  <% @wallets.each do |wallet| %>
    <%= link_to "Новое изменение, кошелёк #{wallet.name}", new_finance_path(wallet: wallet) %>
    <table class="fin">
      <thead>
        <tr>
          <th>Количество</th>
          <th>Описание</th>
          <th>Когда</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <%= will_paginate current_finance(wallet), param_name: :"page_#{wallet.id}" %>
        <%= render current_finance(wallet) %>
    </table>
  <h2 class="money <%= ' minus' if sumTable(wallet) < 0 %>"><%= sumTable(wallet) %></h2>

    <% end %>
  <% end %>
