<p id="notice"><%= notice %></p>

<p>
  <b>M:</b>
  <%= @finance.m %>
</p>

<p>
  <b>Desc:</b>
  <%= @finance.desc %>
</p>


<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
