<% provide(:title, "Вход") %>
<h3>Вход</h3>

<%= simple_form_for :session, url: sessions_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email , label: "Email" %>
  <%= f.input :password , label: "Пароль" %>
  <%= f.submit "Войти" %>
<% end %>

<p>Новый пользователь? <%= link_to "Зарегистрируйтесь!", signup_path %></p>
