<h3><%= @person.name %></h3>
<h4><%= link_to 'Новое изменение', new_person_debt_path(@person), remote: true %></h4>
<div class="form"></div>
<div class="table">
  <%= render 'debt' %>
</div>
<h2 class="money <%= ' minus' if sumDebt(@person) < 0 %>"><%= sumDebt(@person) %></h2>

<h4><%= link_to 'Вернуться к должникам', people_path %></h4>
