<% provide(:title, "Edit uesr") %>
<h1>Редактирование профиля</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <ul><%= f.label :name %>: <%= f.text_field :name %></ul>

  <ul><%= f.label :email %>: <%= f.text_field :email %></ul>

  <ul><%= f.label :password %>: <%= f.password_field :password %></ul>

  <ul><%= f.label :password_confirmation, "Confirm Password" %>: <%= f.password_field :password_confirmation %></ul>

  <%= f.submit "Save changes" %>
<% end %>
<br />
<%= gravatar_for @user %>
<a href="http://gravatar.com/emails">change</a>
