<% provide(:title, "Редактирование профиля") %>
<h3>Редактирование профиля</h3>

<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.input :name, label: "Имя" %>
  <%= f.input :email , label: "Email" %>
  <%= f.input :password , label: "Пароль" %>
  <%= f.input :password_confirmation , label: "Подверждение пароля" %>
  <%= f.submit "Сохранить" %>
<% end %>
<hr>
<div class="row">
  <div class="span4">
    <h3>Кошельки: </h3>
  </div>
  <div class="span8">
    <div class="wallets">
      <%= render partial: "wallets", object: @wallet %>
    </div>
    <%= link_to 'Создать новый кошелёк', new_user_wallet_path(@user), remote: true %>
  </div>
</div>
<div class="form"></div>
