<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <ul><%= f.label :name, "Имя пользователя" %>: <%= f.text_field :name %></ul>

  <ul><%= f.label :email, "EMail" %>: <%= f.text_field :email %></ul>

  <ul><%= f.label :password, "Пароль" %>: <%= f.password_field :password %></ul>

  <ul><%= f.label :password_confimation, "Подтверждение пароля" %>: <%= f.password_field :password_confirmation %></ul>

  <%= f.submit "Создать аккаунт" %>
<% end %>

