<% provide(:title, 'Sign up') %>
<h3>Регистрация</h3>

<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.input :name, label: "Имя" %>
  <%= f.input :email , label: "Email" %>
  <%= f.input :password , label: "Пароль" %>
  <%= f.input :password_confirmation , label: "Подверждение пароля" %>
  <%= f.submit "Создать аккаунт" %>
<% end %>
