<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Money</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%#логин и логоут пользователя, тут же предложение зарегестрироваться %>
      <table class="auth">
        <tr>
          <% if signed_in? %>
            <th><h2 class="menu"><%= link_to "Ваши финансы", root_path %></h2></th>
            <td class="b"></td>
            <th>Login: <%= link_to current_user.name, root_path %></th>
            <td><%= current_user.email %></td>
            <td><%= link_to "Logout", signout_path, method: "delete" %></td>
          <% else %>
            <td class="b"></td>
            <th class="login"><%= link_to 'Login', signin_path %></th>
          <% end %>
        </tr>
      </table>
      <div class="main">
        <% if signed_in? %>
          <h2><%= link_to "Профиль", current_user %> <%= link_to "Настройки", edit_user_path(current_user) %></h2>
        <% end %>
      </header>

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
